body.prototype_body_16 {
  background-color: #1e1e1c;
  display: flex;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
}

.prototype_16 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  padding: 0px;
  margin: 0px 0px 0px 0px;

  .div_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -100px;
    width: 400px;
    .frame_header {
      margin-top: -30px;
      margin-bottom: -15px;
      font-family: 'Panama';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 48px;
      text-transform: uppercase;
      color: #f4f3f1;
    }

    .frame_p {
      font-family: 'Graphik Cy';
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 28px;
      letter-spacing: -0.025em;
      color: #f4f3f1;
    }
  }

  .button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 1380px;
    padding: 0px 10px 0px 0px;

    .restore_button {
      background-image: image-url('refresh.svg');
      background-position: center;
      background-repeat: no-repeat;
      height: 61px;
      width: 61px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 15px;
      background-color: #ff8634;
      border: 1.5px solid #ff8634;
      border-radius: 50px;
    }

    .save_button {
      margin: 0px 0px 0px 10px;

      color: #1e1e1c;
      font-family: 'Graphik Cy';
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 28px;
      text-transform: uppercase;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-grow: 3;
      padding: 15px;
      background: #f2f0ef;
      border: 1.5px solid #f2f0ef;
      border-radius: 50px;
    }
  }

  .frame {
    position: relative;
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    height: 500px;
    transform: rotate(45deg);
    margin: 120px;
    background: #e3ff36;
    overflow: hidden;

    &.yellow {
      background: #e3ff36;
      .text {
        color: #1e1e1c;
        border: 0.5px solid #1e1e1c;
      }
    }

    &.blue {
      background: #2345be;
      .text {
        color: #f2f0ef;
        border: 0.5px solid #f2f0ef;
      }
    }

    &.orange {
      background: #ff8634;
      .text {
        color: #1e1e1c;
        border: 0.5px solid #1e1e1c;
      }
    }

    &.pink {
      background: #f4659b;
      .text {
        color: #1e1e1c;
        border: 0.5px solid #1e1e1c;
      }
    }
  }

  .frame_background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
  }

  .additional_background {
    overflow: hidden;
    position: relative;

    height: 440px !important ;
    width: 480px !important ;
    border-radius: 22px;
    background: #1e1e1c;
    margin: 6px 0px 0px 0px;
    clip: auto;
  }

  .text {
    font-family: 'Panama';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    z-index: 100;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 480px;
    height: 36px;
    margin: 0px;

    border: 0.5px solid #1e1e1c;
    box-sizing: border-box;
    border-radius: 22px;
  }

  .flower {
    width: 40%;
    height: 50%;
    position: absolute;
    // border-radius: 50%;
    background-size: contain !important;
    transform: rotate(-45deg);
    background-repeat: no-repeat;
    background-position: center;

    &.first {
      background-image: image-url('flower_1.png');
    }

    &.second {
      background-image: image-url('flower_2.png');
    }

    &.third {
      background-image: image-url('flower_3.png');
    }

    &.fourth {
      background-image: image-url('flower_4.png');
    }

    &.fifth {
      background-image: image-url('flower_5.png');
    }

    &.sixth {
      background-image: image-url('flower_6.png');
    }

    &.seventh {
      background-image: image-url('flower_7.png');
    }
  }
}
